PORT=3000
DB_PASSWORD=your_database_password
DB_STRING=mongodb://your_username:DB_PASSWORD@your_cluster_url/your_database_name?ssl=true&replicaSet=your_replica_set&authSource=admin&appName=your_app_name
